h1{
 color:purple;
 }
/**{
          border: solid;        
}*/
.header{
    background-color :#F0571E;
    display:flex;
    justify-content: space-between;
}     

.grid{

    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display:flex;
    justify-content:flex-end;

    
  
    
}

h2,p{

     text-align:center;
     
}
body {

    background-color:#EC7C1F;
}